# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
build/*
dist/*
src/_less/fontawesome-free-6.1.1-web/*

# misc
.env
*.env
